h1{font-style: oblique; font-family: Impact; animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); background-color: blueviolet; color: white;}
body{background-color: black; color: white; font-style: initial; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2{font-family: "Franklin Gothic Medium";}
